.cell {
  border: 1px solid gray;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  background-color: white;
  transition: all 0s ease 200s; /*delay 1s*/
}

#container {
  text-align: center;
}

.cell:hover {
  background-color: black;
  transition-delay: 0s;
  visibility: visible;
}